@charset "UTF-8";
body, p{
	font-family: "Open Sans", 'helvetica neue', arial, sans-serif;;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #929292;
}
.page {
	margin-top: 8px;
	margin-bottom: 16px;
	background-color: #FFFFFF;
	width: 1000px;
	height: 1414px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
	-webkit-box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
	box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
}
.page-header {
	height: 7px;
	overflow: auto;
}
.page-header-left {
	float: left;
	width: 485px;
	height: 7px;
	background-color: #9b95ba;
}
.page-header-right {
	float: right;
	width: 485px;
	height: 7px;
	background-color: #ce6e72;
}
.page-footer {
	height: 7px;
	overflow: auto;
}
.page-footer-left {
	float: left;
	width: 485px;
	height: 7px;
	background-color: #99cf9f;
}
.page-footer-right {
	float: right;
	width: 485px;
	height: 7px;
	background-color: #58c9cf;
}
.content {
	padding: 35px;
	height:1330px;
	width: 930px;
}
.content p {
	line-height: 24px;
}
.row1 {
	height: 110px;
	width: 930px;
	color: #CCCCCC;
	font-size: 14px;
	font-weight: lighter;
}
.row1 .name-professional {
	width: 260px;
	overflow: auto;
	float: left;
}
.row1 .name {
	font-weight: lighter;
	font-size: 36px;
	letter-spacing: 0.1em;
	color: #000000;
}
.row1 .professional {
	font-weight: lighter;
	font-size: 15px;
	line-height: 22px;
}
.row1 .caption-description {
	margin-top: 10px;
	font-size: 12px;
	float: left;
}
.row1 .address {
	width: 395px;
	margin-top: 10px;
	font-size: 12spx;
	float: left;
}
.row1 .contact {
	width: 250px;
	margin-top: 10px;
	font-size: 12px;
	float: left;
}
.row1 .caption-description .caption {
	font-size: 16px;
	height: 70px;
	float: left;
	padding: 0 10px 0 0;
	border-right: solid 1px #CCCCCC;
	color: #CCCCCC;
	font-style: italic;
}
.row1 .caption-description .description {
	padding: 0 0 0 10px;
	height: 70px;
	float: left;
}
.row2 {
	overflow: auto;
}
.row2 .left {
	width: 450px;
	float: left;
}
.row2 .right {
	width: 450px;
	float: right;
}
.row .caption {
	background-size: 24px 24px;
	background-repeat: no-repeat;
	padding: 0 0 8px 40px;
	height: 24px;
	color: #498db6;
	font-size: 16px;
	line-height: 24px;
	border-bottom: solid 1px #CCC;

}
.personal-detial {
	background-image: url(images/information.png);
}
.row2 .item {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	border-bottom: solid 1px #CCC;
}
.row2 .item .key {
	float: left;
	color: #999;
	width: 100px;
	font-weight: lighter;
}
.row2 .item .value {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	padding-left: 35px;
	float: left;
}
.row2 .item .user {
	background-image: url(images/user.png);
}
.row2 .item .date-of-birth {
	background-image: url(images/calendar.png);
}
.row2 .item .web {
	background-image: url(images/web.png);
}
.row2 .item .gender {
	background-image: url(images/gender.png);
}
.row2 .item .place {
	background-image: url(images/place.png);
}
.row2 .item .university {
	background-image: url(images/university.png);
}
.education {
	background-image: url(images/education.png);
}
.row3 {
	margin-top: 24px;
}
.unbalance-tow-column .item {
	overflow: auto;
	margin-top: 6px;
}
.unbalance-tow-column .left {
	float: left;
	width: 240px;
}
.unbalance-tow-column .right {
	float: right;
	width: 660px;
}
.unbalance-tow-column .subcaption {
	font-size: 13px;
}
.unbalance-tow-column .left .date {
	font-weight: lighter;
	font-size: 12px;
	color: #999;
}
.unbalance-tow-column .right p {
	color: #999;
	font-weight: lighter;
	font-size: 12px;
	line-height: 20px;
	text-indent: 2em;
}
.row4 {
	margin-top: 20px;
}
.experience {
	background-image: url(images/experience.png);
}



