@charset "UTF-8";
body, p{
	font-family: "Open Sans";
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #929292;
}
.page {
	margin-top: 8px;
	margin-bottom: 16px;
	background-color: #FFFFFF;
	width: 1000px;
	height: 1414px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
	-webkit-box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
	box-shadow: -2px 0 4px #535353, 0 0 1px #535353, 0 3px 6px #535353, 2px 0 4px #535353;
}
.page-header {
	height: 7px;
	overflow: auto;
}
.page-header-left {
	float: left;
	width: 485px;
	height: 7px;
	background-color: #9b95ba;
}
.page-header-right {
	float: right;
	width: 485px;
	height: 7px;
	background-color: #ce6e72;
}
.page-footer {
	height: 7px;
	overflow: auto;
}
.page-footer-left {
	float: left;
	width: 485px;
	height: 7px;
	background-color: #99cf9f;
}
.page-footer-right {
	float: right;
	width: 485px;
	height: 7px;
	background-color: #58c9cf;
}
.content {
	padding: 35px;
	height:1330px;
	width: 930px;
}
.content p {
	line-height: 24px;
}
.content .row1 {
	height: 120px;
	width: 930px;
	color: #CCCCCC;
	font-size: 14px;
	font-weight: lighter;
}
.content .row1 .name-professional {
	width: 260px;
	overflow: auto;
	float: left;
}
.content .row1 .name {
	font-weight: lighter;
	font-size: 36px;
	letter-spacing: 0.1em;
	color: #000000;
}
.content .row1 .professional {
	font-weight: lighter;
	font-size: 15px;
	line-height: 22px;
}
.content .row1 .caption-description {
	width: 300px;
	margin-top: 10px;
	float: left;
}
.content .row1 .caption-description .caption {
	height: 70px;
	float: left;
	padding: 0 10px 0 0;
	border-right: solid 1px #CCCCCC;
	color: #CCCCCC;
	font-style: italic;
}
.content .row1 .caption-description .description {
	padding: 0 0 0 10px;
	height: 70px;
	float: left;
}
.row2 {
	overflow: auto;
}
.row2 .left {
	width: 450px;
	float: left;
}
.row2 .right {
	width: 450px;
	float: right;
}
.content .row2 .caption {
	background-size: 24px 24px;
	background-repeat: no-repeat;
	padding: 0 0 8px 40px;
	height: 24px;
	color: #498db6;
	font-size: 18px;
	line-height: 24px;
	border-bottom: solid 1px #CCC;

}
.personal-detial {
	background-image: url(images/information.png);
}
.education {
	background-image: url(images/education.png);
}
.content .row2 .item {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	border-bottom: solid 1px #CCC;
}
.content .row2 .item .key {
	float: left;
	color: #999;
	width: 100px;
	font-weight: lighter;
}
.content .row2 .right .item .key {
	width: 190px;
}
.content .row2 .item .value {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	padding-left: 35px;
	float: left;
}
.content .row2 .item .user {
	background-image: url(images/user.png);
}
.content .row2 .item .date-of-birth {
	background-image: url(images/calendar.png);
}
.content .row2 .item .web {
	background-image: url(images/web.png);
}
.content .row2 .item .phone {
	background-image: url(images/phone.png);
}
.content .row2 .item .mail {
	background-image: url(images/mail.png);
}
.content .row2 .item .none-background {
	background-image: none;
	padding-left: 0;
}

